---
const { title } = Astro.props;

---

<header
  class="bg-light dark:bg-dark w-full top-0 h-12 md:h-20 py-8 px-8 mb-4 md:px-12 xl:px-28 flex gap-12 items-center lg:justify-between shadow-md fixed z-10"
>
  <a href="/homePage"><img src="pp_icon.png" alt="" class="w-16" /></a>

  <button
    id="toggleNavMenu"
    class="fixed top-0 right-0 p-4 z-20 lg:hidden material-symbols-outlined"
  >
    menu
  </button>

  <h1 class="lg:hidden">{title}</h1>

  <div
    id="navMenu"
    class="fixed lg:relative top-0 left-0 bg-light dark:bg-dark bg-opacity-95 dark:bg-opacity-95
text-center transition-all duration-500
flex flex-col lg:flex-row gap-8 items-center justify-center p-2 w-full h-0 opacity-0 z-10 lg:h-full lg:opacity-100"
  >
    <nav class="lg:flex-1 flex gap-8 flex-col lg:flex-row">
      <a href="/homePage">Meus compromissos</a>
      <a href="/searchServices">Buscar serviços</a>
    </nav>
    <div class="flex gap-2 items-center">
      <p>
        <p
          class="material-symbols-outlined text-3xl rounded-full shadow-lg p-2"
        >
          Person
        </p>
      </p>
      <button id="logout-button" class="material-symbols-outlined text-red-600 z-20"
        >Logout</button
      >
    </div>
  </div>
</header>

<script>
  document
    .getElementById("toggleNavMenu")
    ?.addEventListener("click", function () {
      const navMenu = document.getElementById("navMenu");
      navMenu?.classList.toggle("h-0");
      navMenu?.classList.toggle("h-full");
      navMenu?.classList.toggle("opacity-0");
      navMenu?.classList.toggle("opacity-100");
    });



 
</script>
