---
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="homePage">
<Header />

<main class="flex flex-col lg:flex-row lg:w-full justify-start lg:justify-between h-full">
  <section class="w-full">
    <div class="w-full bg-red-400">
      
    </div>
  </section>

  <section class="w-full">
    <div class="w-full bg-blue-400">
      
    </div>
  </section>

</main>

</Layout>

<script>
  
</script>