---
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="homePage">
<Header title="Meus compromissos"/>

<main class="flex flex-col lg:flex-row lg:w-full justify-start lg:justify-evenly h-full">
  <section class="w-full p-2 mx-5">
    <div class="w-full shadow-md">
      <div class="mx-5">
        <h2 class="text-2xl">Meus compromissos</h2>
        <div id="calendar"></div>
      </div>
    </div>
  </section>

  <section class="w-full p-2">
    <div class="w-full bg-blue-400">
      
    </div>
  </section>

</main>

</Layout>
<script>
import { Calendar } from '@fullcalendar/core';
import dayGridPlugin from '@fullcalendar/daygrid';
import ptBrLocale from '@fullcalendar/core/locales/pt-br';


function initializeCalendar(): void {
  document.addEventListener('DOMContentLoaded', () => {
    const calendarEl = document.getElementById('calendar') as HTMLElement;
    if (calendarEl) {
      const calendar = new Calendar(calendarEl, {
        plugins: [dayGridPlugin],
        initialView: 'dayGridMonth',
        locale: ptBrLocale,
        events: });
      calendar.render();
    }
  });
}

initializeCalendar();

</script>
