---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
---

<Layout title="Home | Pet Parent">
	<Header />
  <main
    class="h-full mt-16 xl:mt-24 px-8 md:px-12 xl:px-28 flex flex-col gap-16 xl:flex-row-reverse xl:items-center"
  >
    <img src="/dog-and-cat.png" alt="" class="mx-auto w-1/2" />
    <div
      class="flex flex-col gap-8 items-center xl:items-start text-center xl:text-left"
    >
      <h1 class="text-4xl xl:text-5xl font-bold">
        Tudo que você precisa para gerenciar as necessidades dos seus pets, <span
          class="text-orange-600 dark:text-orange-400">em um só lugar</span
        >.
      </h1>
      <Button>
    </div>
  </main>
</Layout>
